:host
  overflow auto
  display flex
  flex-flow column
  flex 1 1 auto
  --gutter-color var(--accent)
  // --gutter-margin 9px
  --gutter-width 1px
  // --gutter-height 4rem
  // --gutter-border-right 1px solid var(--accent)
  // --gutter-border-left 1px solid var(--accent)

header
  margin-bottom 1rem

main
  overflow auto
  flex 1 1 auto
  border 1px solid var(--accent)
  border-radius 0.25rem


[slot="navigator"]
  padding 1rem
  width 100%

  nav
    display flex
    gap 0.5rem
    margin-block-end 1rem

    button
      font-size var(--small-copy-font-size)
      background var(--background)
      color var(--highlight)
      min-width 6rem



[slot="content"]
  margin-inline-start 1rem

  & > div
    margin-inline-start 1rem

[slot="editor"]
  padding 1rem
  overflow scroll

.node
  padding 2px
  border-radius 2px

  &.selected
    background unquote("color-mix(in lch, var(--background), var(--highlight) 50%)")

    input
      &:focus
        cursor text
        background var(--background)

  input, span
    font-size var(--small-copy-font-size)
    background transparent
    border none
    outline none
    min-width 0
    border-radius 0.5rem
    cursor pointer
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    