form
  --suggestion-margin 0.5rem

div:has(> ul.suggestions)
  position relative
  max-inline-size fit-content

ul.suggestions
  margin 0
  margin-block-start 0.25rem
  padding 0.5rem
  position absolute
  border-radius 0.5rem
  border 1px solid var(--accent)
  background var(--background)
  width 100%
  max-height s("calc(((var(--copy-line-height) + var(--suggestion-margin)) * 5) + 1rem)")
  overflow scroll

ul.suggestions > li
  list-style none
  margin unset
  padding unset
  margin-block-start var(--suggestion-margin)

li.selected
  color var(--background)
  background var(--highlight)

input + i
  margin-inline-start 1rem
  padding 0.5rem
  border 1px solid var(--highlight)
  border-radius 0.5rem
  font-size var(--largest-copy-font-size)