wheel-gradient()
  stops = ()
  push(stops, oklch(66.66% .1 x)) for x in (0..360)
  "linear-gradient(in oklch to right, %s)" % unquote(join(", ", stops))

main

  //- TODO remove this after posh reboot
  //- we shouldn't need it because custom
  //- inputs should be laid out like any
  //- other field...
  // margin-block 1rem
  gap 1rem

vellum-field[name="color"]
  [slot="input"]
    display flex
    gap 1rem
    align-items center

    input[type="range"]
      &::-webkit-slider-runnable-track
        background wheel-gradient()

      &::-moz-range-track
        background wheel-gradient()

sansa-select-image
  &::part(L1)
    display none


//- TODO we need a small button class or something...
//- holding off until we do the posh reboot      
button
  font-size var(--smaller-copy-font-size)
  background var(--background)
  color var(--highlight)
  min-width 4rem
  padding-block 0.25rem