:host
  height 100%

  > div  
    &.layout
      height 100%
      display grid
      grid-template-rows auto 1fr auto
      grid-template-columns 1fr
      justify-content center
      justify-items center

      > *
        width 100%

      > main
        grid-row 2
