form
  --copy-font-size var(--small-copy-font-size)
  --copy-line-height var(--small-copy-line-height)

.icon.field

  div:has(.preview)
    display flex
    flex-flow column
    gap 1rem

    .preview
      width fit-content
      padding 0.25rem

      &::empty
        border 1px solid var(--warn)

      & > i
        font-size 4rem
        line-height 4rem

.image.field
  .image
    display flex
    flex-direction column
    gap 0.75rem

    .thumbnail 
      border 1px solid var(--accent)
      border-radius 0.5rem
      padding 0.5rem
      width fit-content

      & > img
        // default image is typically for light mode
        // TODO but depends on the color scheme?
        // background white
        max-inline-size 100%

.page.field
  label > div
    display flex
    flex-direction column
    gap 0.75rem