:host
  display block
  min-inline-size 6rem

main 
  font-size var(--small-copy-font-size)
  line-height var(--small-copy-line-height)
  & > label
    display flex
    gap 0.5rem
    justify-content end
